body {
    background-color: #aa0808f0;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.wrapper2 {
    width: 500px;
    height: 30px;
    background-color: #f80909;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 2%;
    left: 52%;
}

.container {
    width: 100%;
    background-color: #f80909;
    padding: 50px 40px;
    box-shadow: 4px 30px 100px rgba(132, 71, 237, 0.732);
    position: relative;
    border-radius: 8px;
    text-align: center;
}

.container p {
    color: #fdd8d8;
    line-height: 2;
    font-size: 24px;
}

.container h3 {
    color: #ffffff;
    margin: 20px 0 60px 0;
    font-weight: 600;
    text-transform: capitalize;
}

.container button {
    background-color: #f9eded;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #f80a2a;
    cursor: pointer;
}

.container2 {
    background-color: #f80909;
    padding: 20px 20px;
    box-shadow: 0px 30px 60px rgba(235, 207, 48, 0.589);
}

.container2 p {
    color: rgb(239, 239, 239);
    font-size: 16px;
}